.navbar {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 9999;
  
    align-items: center;
  }
  .nav-left {
    flex: 2;
  
    font-size: 30px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .nav-right {
    flex: 2;
  }
  .nav-center {
    flex: 6;
  }
  .topList {
    display: flex;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .topListItem {
    /* margin-right: 20px; */
    
    font-size: 20px;
    font-weight: 300;
    padding: 7px 2vw;
    cursor: pointer;
  }
  .topListItem:hover {
    border-radius: 50px;
    color: var(--orange);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.13) inset;
    transition: 0.5s ease-in-out;
  }
  
  
  .menu-icons{
    display: none;
  }
  
  @media screen and (max-width: 600px) {
   
    .navbar{
      height:60px;
      /* width:100%; */
    }
    
    .menu-icons{
      display: block;
     margin-right:25px;
      font-size: 1.9rem;
      cursor: pointer;
    }
   
    .topList{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 60vh;
      position: absolute;
      top: 50px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
    .topList.active{
      background-color: #fff;
  
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
     
    }


  }