.continer{
   
 background-color: #fff;
  
   display: flex;
   position: relative;

  
    
}
.left{
height: 100%;
width: 55%;

padding:5vw 10vw;
}
/* .left h1{
    font-size: 4.2vw;
    line-height: 4.4vw;
} */
.left h2{
    font-size: 3vw;
    line-height: 4.4vw;
}
.left p{
    font-size: 1.2vw;
    font-weight: 300;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 4vw;
}
.icons{
    padding-right:.5vw;
  }
   

.right{
height: 100%;
width: 45%;


}

.pizza{
    height: 100%;
    width: 477px;
    transform: rotate(-61deg);
    position: relative;
    z-index: 1;
  bottom:1vw;
    right:6vw;
   
}
.right :nth-child(1){
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border: 10px solid rgb(238, 238, 241);
    position: absolute;
    top: .5vw;
   right: 18vw;
   }
   .right :nth-child(2){
    transform: scale(0.4);
  
   bottom: 13vw;
left: 50vw;
   z-index: 1;
   width: 570px;
   height: 449px;
 
    position: absolute;
   }
   .right :nth-child(4){
    
position: absolute;
    transform: scale(0.8);
    top: 29vw;
    right:45vw;
   }
   .right :nth-child(5){
    position: absolute;
    left:650px;
    bottom:50px; 
    /* right:48vw;
    bottom:2vw; */
   }
   .right :nth-child(6){
  
   position: absolute;
   top:31vw;
   right:33vw;
   }
   .right :nth-child(7){
    position: absolute;
    top:23vw;
    left:74vw;
  

   }

@media screen and (max-width:600px) {
    .continer{
        height: calc(100% - 60px);
       flex-direction: column;
    }
    .left{
        width: 100%;
        height: 45%;
        padding: 5vh 9vw;
    }
    .left h1{
        font-size: 8vw;
        line-height: 11vw;
     
    }
    .left h2{
        font-size: 7vw;
        line-height: 11vw;
        
    }
    .left p{
        font-size: 3vw;
        line-height: 90%;
        margin-top: 5vw;
        margin-bottom: 8vw;
    }
    .left button{
        font-size: 2vw;
     
    }
   
    .right{
        width:100%;
        height: 55%;
    }
    .pizza{
        height: 100%;
        width: 150px;
        margin-left: 34vw;
        margin-top: 15vw;
     
      
    }
    .right :nth-child(1){
        width: 199px;
        height: 199px;
    margin-top: 80vw;
    margin-right: 20vw;
     
       }
       .right :nth-child(2){
        transform: scale(0.2);
       left:-4vw;
       top:43vw;

       }
       .right :nth-child(4){
        transform: scale(0.5);
        left:15vw;
        top:105vw;
    
    /* display: none; */
        
       
       }
       .right :nth-child(5){
        transform: scale(0.4);
    left:7vw;
    bottom: -7vw;
        
       
       }
       .right :nth-child(6){
        transform: scale(0.4);
        
       
        top:105vw;
        left:23vw;
       
       }
       .right :nth-child(7){
        transform: scale(0.4);
        top:90vw;
        left:45vw;
       }
}