

            .footer{
                padding: 4rem 6rem;
              
               background-color: #fff;
            }
            .tops{
                display: flex;
                flex-direction: column; 
            }
            .tops .footer_icons{
                display: flex;
                flex-direction: row;  
                padding: .5vw;
            }
          
                 .footer_icons .icons{
                       
                        background-color: #fff;
                        border-radius: 50%;
                        padding: .8vw;
                        margin: .5vw;
                        box-shadow: 10px 5px 5px rgb(180, 179, 179);
                            }
            .bottom{
                padding-top: 2rem;
             
            display: flex;
            justify-content: space-between;
           
            flex-wrap: wrap;
            }
            .bottom div{
                display: flex;
              flex-direction: column;
            }
            .bottom h4{
                font-size: 1.3rem;
                padding: 1rem 0 0.8rem 0;
            }
            
            .bottom a{
                text-decoration: none;
                color: #000;
             
                padding-bottom: .4rem;
                font-size: 1.1rem;
            
            }
            .Copyright{
                border-top: 1px solid #888;
              text-align: center;
            }
            
            @media screen and (max-width: 600px){
                .footer{
                    padding: 4rem 2rem;
                }
                .footer i {
                    margin: 1rem 1rem 0 0;
                }
                .bottom div{
                    width:50%;
                }
                
                .footer_icons .icons{
                       
                
                    padding: 1.5vw;
                    margin: .5vw;
                   
                        }
            }